<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
     PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Petlink</display-name>
	<description>A pet adoption web-app</description>
<!--            
    <servlet>
        <servlet-name>invoker</servlet-name>
        <servlet-class>
          org.apache.catalina.servlets.InvokerServlet
        </servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>invoker</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>

-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>
           paradoteo2.LoginServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>
           paradoteo2.LogoutServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SpecificPostServlet</servlet-name>
        <servlet-class>
           paradoteo2.SpecificPostServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpecificPostServlet</servlet-name>
        <url-pattern>/SpecificPostServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitApplicationServlet</servlet-name>
        <servlet-class>
           paradoteo2.SubmitApplicationServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitApplicationServlet</servlet-name>
        <url-pattern>/SubmitApplicationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchPostServlet</servlet-name>
        <servlet-class>
           paradoteo2.SearchPostServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchPostServlet</servlet-name>
        <url-pattern>/SearchPostServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>
           paradoteo2.RegisterUserServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>
           paradoteo2.AdminLoginServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MyPostsServlet</servlet-name>
        <servlet-class>
           paradoteo2.MyPostsServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>MyPostsServlet</servlet-name>
        <url-pattern>/MyPostsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicantsServlet</servlet-name>
        <servlet-class>
           paradoteo2.ApplicantsServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>ApplicantsServlet</servlet-name>
        <url-pattern>/ApplicantsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>
           paradoteo2.DeletePostServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DecisionServlet</servlet-name>
        <servlet-class>
           paradoteo2.DecisionServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>DecisionServlet</servlet-name>
        <url-pattern>/DecisionServlet</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>PendingPostsServlet</servlet-name>
        <servlet-class>
           paradoteo2.PendingPostsServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>PendingPostsServlet</servlet-name>
        <url-pattern>/PendingPostsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>
           paradoteo2.UploadServlet
        </servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    
  
  
</web-app>
